/* You can add global styles to this file, and also import other style files */
.errmsg{
    color: red ;
}
.errtxt{
    border: 1px solid red;
}
.gtrerr{
    color: red;
}
.errgrt{
    border: 1px solid red;
}
.selerr{
    color: red;
}